[submodule "caerus-ndp"]
	path = caerus-ndp
	url = https://github.com/open-infrastructure-labs/caerus-ndp.git
	branch = main
[submodule "caerus-dike"]
	path = caerus-dike
	url = https://github.com/open-infrastructure-labs/caerus-dike.git
	branch = master
